.connet {
  width: 100%;
  background-color: aliceblue;
  margin: 0 auto;
  .connetImg {
    img {
      width: 100%;
    }
  }
  .cnfooter {
    height: 545px;
    overflow: hidden;
    .content {
      box-sizing: border-box;
      width: 1280px;
      height: 355px;
      margin: 0 auto;
      margin-top: 40px;
      padding: 0 40px;
      display: flex;
      justify-content: space-around;
      .contentLeft {
        width: 482px;
        height: 280px;
        overflow: hidden;
        p {
          font-size: 13px;
          color: #696969;
          margin-bottom: 5px;
        }
      }
    }
  }
}
